.col-md-2 {
  padding-left: 0px;
  padding-right: 0px;

  @media (min-width: 768px) {
    .navbar-collapse {
      height: auto;
      border-top: 0;
      box-shadow: none;
      max-height: none;
      padding-left:0;
      padding-right:0;
    }
    .navbar-collapse.collapse {
      display: block !important;
      width: auto !important;
      padding-bottom: 0;
      overflow: visible !important;
    }
    .navbar-collapse.in {
      overflow-x: visible;
    }

    .navbar
    {
      background: black;
      max-width:250px;
      margin-right: 0;
      margin-left: 0;

      li {
        text-align: center;
        a {
          font-weight: 500;
          color: white;
          text-decoration: none;

          -webkit-transition: all 0.4s ease;
          transition: all 0.4s ease;

          &:hover {
            color: #DADADA;
            -webkit-transform:scale(1.1);
            transform:scale(1.1);
          }
        }
      }
    }

    .navbar-nav,
    .navbar-nav > li,
    .navbar-left,
    .navbar-right,
    .navbar-header {
      float:none !important;
    }

    .navbar-right .dropdown-menu {
      left:0;right:auto;
    }
    .navbar-collapse .navbar-nav.navbar-right:last-child {
        margin-right: 0;
    }
  }

}


body {

  .container {
    padding: 10px;
    padding-top: 0px;
  }
}
